# ----------------------
# Flask
# ----------------------
Flask==0.10.1
Flask-WTF
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
psycopg2
flask_script

# ----------------------
# Production Server
# ----------------------
gunicorn
