<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/computer-ico.png') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Computer Science Lab Content Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    {% block css %} {% endblock %}


  </head>
  <body>
    <header>
        {% include "header.html" %}
    </header>
    <main>
        <div class="container">
            {% block main %}{% endblock %}
        </div>
    </main>
    <footer>
        <div class="container">
            {% include "footer.html" %}
        </div>
    </footer>

    <!-- Always load your javascript last... Especially if you plan to use jQuery -->
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/materialize.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/app.js') }}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    {% block js %} {% endblock %}
  </body>
</html>